@font-face {
    font-family: 'campton';
    src: url('../fonts/campton-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/campton-lightitalic-webfont.woff') format('woff'),
    url('../fonts/campton-bold-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url('../fonts/campton-medium-webfont.woff2') format('woff2'),
            url('../fonts/campton-medium-webfont.woff') format('woff'),
            url('../fonts/campton-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url('../fonts/campton-book-webfont.woff2') format('woff2'),
         url('../fonts/campton-book-webfont.woff') format('woff'),
        url('../fonts/campton-book-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'campton';
    src: url('../fonts/campton-semibold-webfont.woff2') format('woff2'),
         url('../fonts/campton-semibold-webfont.woff') format('woff'),
        url('../fonts/campton-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'campton';
    src: url('../fonts/campton-bold-webfont.woff2') format('woff2'),
         url('../fonts/campton-bold-webfont.woff') format('woff'),
         url('../fonts/campton-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}