*,
*::before,
*::after {
	box-sizing: border-box;
}

html{
	background-color: #fff;
}

body{
	font-family: 'campton';
	max-width: 460px;
	background-color: #F5F5F5;
	font-size: 12px;
	color: $black;
	margin: 0 auto;
}

.container{
	max-width: 330px;
	margin: 0 auto;
	position: relative;
}
main{
	overflow-x: hidden;
}
header{
	background-image: url("/src/img/img-home.jpg");
	height: 28vh;
	width: 100%;
	background-size: cover;
	p{
		margin: 0 auto;
		color: #FFF;
		text-align: center;
		padding: 1em 0;
		font-weight: 600;
		font-size: 1em;
	}

	nav{
		height: 90%;
		
		.content-nav{
			position: relative;
			margin-top: 2.5em;
		}
		
		.floating-buttons{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);

			&.fixed-buttons{
				position: fixed;
			    top: 30px;
				right: 22px;
				z-index: 10;
				display: none;
			}
		}
		ul{
			display: inline-block;
			padding: 10px 15px;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 125px;
			li{
				display: inline-block;
				margin: 0 5px;

				a{
					img{
						object-fit: contain;
						height: 100%;
						width: 100%;
					}
				}
			}

			li:nth-child(3){
				height: 20px;
				width: 25px;
				a{
					height: 2px;
					width: 100%;
					display: block;
					background-color: $black;
					position: relative;
					border-radius: 10px;
					top: 50%;
					transform: translateY(-50%);
				
				
					&:before{
						position: absolute;
						top: -6px;
						background-color: $black;
						height: 2px;
						width: 100%;
						content: "";
						right: 0;
						border-radius: 10px;
					}
					&:after{
						position: absolute;
						top: 6px;
						background-color: $black;
						height: 2px;
						width: 50%;
						content: "";
						right: 0;
						border-radius: 10px;
					}
				}
			}
			background-color: #fff;
			@include bloc;
			
		}
	}
}

section{
	margin: 50px 0;
}

h2{
	font-size: 2.2em;
	font-weight: 200;
	line-height: 1;
	span{
		color: $blue;
		font-weight: 600;
		display: block;

		&.color-blue{
			color: $blue;
		}
		&.color-red{
			color: $red;
		}
	}
}

.big-title{
	font-size: 4.5em;
    color: #3b3b3b;
    opacity: .06;
    font-weight: 700;
    position: absolute;
    z-index: 0;
	top: -40px;
	left: 0;

	&.big-title-special{
		top: 50px;
	}
}
.cta{
	color: #fff;
	border-radius: 7px;
	padding: 11px 30px;
	font-weight: 400;
    min-width: auto;
	max-width: 160px;
	text-align: center;
	display: block;
	margin: 0 auto;
	background-image: linear-gradient(135deg,#d22039 30%,#fecb00 80%);
	text-decoration: none;
	margin-top: 25px;
	transition: .2s ease-in-out;

	&:hover{
		box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.119);
		transform: scale(1.02);
		box-shadow : 0 0 32px rgba(0, 0, 0, 0.139);
	}
}
.bloc-content{
	@include bloc;
	padding: 20px 15px;
	position: relative;
	margin-top: 40px;

	.choice-box{
		margin-bottom: 20px;
		p{
			font-size: 1.3em;
			font-weight: 200;
			margin: 0 0 15px 0;
		}
		span{
			font-size: 1.1em;
			color: $blue;
			padding: 10px 25px;
			box-shadow: $box-shadow;
			width: 100%;
			display: block;
			border-radius: 4%;
			position: relative;
			
			&:hover:after{
				right: 20px;
			}
			&:after{
				height: 15px;
				width: 15px;
				content: "";
				border-radius: 4px;
				background-size: 75%;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("/src/img/icon/arrow_blue.svg");
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 30px;
				transition: .2s ease-in;
			}
		}

		&:last-of-type{
			
			span{
				position: relative;
				padding-left: 50px;
				&:hover:after{
					right: 20px;
				}
				&:before{
					height: 30px;
					width: 30px;
					content: "";
					border-radius: 4px;
					background-size: 75%;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url("/src/img/icon/money.svg");
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 10px;
				}
				&:after{
					height: 15px;
					width: 15px;
					content: "";
					border-radius: 4px;
					background-size: 75%;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url("/src/img/icon/arrow_blue.svg");
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 30px;
				}
			}
		}
	}
}
.gradient-effect{
	background-image: -webkit-gradient(linear, left top, right top, from(#d22039), to(#fecb00));
    /* background-image: linear-gradient(to right, #a01, #f34); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    font-weight: 500;
}
.why_cofidis{
position: relative;
	.cover-background{
		background-image: url("/src/img/whycofidis.png");
		height: 170px;
		background-size: cover;
		position: absolute;
		width: 100%;
	}
	h2{
		color: #fff;
		padding-top: 2em;
		margin-bottom: 20px;
		span{
			margin: 0;
		}
		span{
			color: #fff;
		}
	}

	.why-list{
		div{
			@include bloc;
			font-size: 1.2em;
			padding: 15px 40px;
			margin-bottom: 15px;
			border-radius: 7px;
			margin: 0 0 15px auto;
			width: 95%;
			position: relative;
			padding: 20px 20px 20px 35px;
			&:before{
				height: 40px;
				width: 40px;
				background-color: $yellow;
				position: absolute;
				left: -20px;
				top: 20px;
				content: "";
				border-radius: 4px;
				background-size: 75%;
				background-position: center;
				background-repeat: no-repeat;
			}

			&:nth-child(1):before{
				background-image: url("/src/img/icon/cofidis01.svg");
				
			}
			&:nth-child(2):before{
				background-image: url("/src/img/icon/cofidis02.svg");
				
			}
			&:nth-child(3):before{
				background-image: url("/src/img/icon/cofidis03.svg");
				
			}
		
			
			span{
				color: $yellow;
				font-weight: 600;
			}

			p{
				margin: 0;
				font-weight: 200;
				margin-top: 10px;
			}
		}
	}
}

.solution{
	margin-bottom: 80px;
	.slider{
		display: flex;
		
		position: relative;
		margin-top: 40px;
		
		div {
			width: 130px;
			margin-right: 2em;
			background-color: #fff;
			border-radius: 7px;
			font-weight: 200;
			font-size: 12px;
			transition: .3s ease-in-out;

			&:hover{
				transform: scale(1.1);
				box-shadow : 0 0 32px rgba(0, 0, 0, 0.139);
			}
			div.cover-slider{
				width: 130px;
				height: 115px;
				margin-right: 20px;
				position: relative;
				box-shadow: $box-shadow;
				background-color: #fff;
				border-radius: 10px;
				margin-left: 0;

				&:hover{
					transform: scale(1);
				}
	
				img{
					height: 100%;
					width: 100%;
					-o-object-fit: cover;
					object-fit: cover;
					border-radius: 5px 5px 0 0!important;
				}
	
			}
			p{
				background-color: #FFF;
				//position: absolute;
				margin: 0;
				padding: 20px;
				width: 100%;
				text-align: left;
				position: relative;
				padding: 20px;
				border-radius: 5px;
			}
		}
	}
}

.contact{
	position: relative;
	.cover-background{
		background-image: url("/src/img/contact.jpg");
		height: 170px;
		background-size: cover;
		position: absolute;
		width: 100%;
	}

	h2{
		color: #fff;
		padding-top: 2em;
		margin-bottom: 20px;
		span{
			color: #fff;
		}
	}

	.list-question{
		a{
			text-decoration: none;
			color: $black;

			&:nth-child(1){
				div span:before{
				background-image: url("/src/img/icon/whycofidis01.svg");
				}
			}
			&:nth-child(2){
				div span:before{
				background-image: url("/src/img/icon/whycofidis02.svg");
				}
			}
			&:nth-child(3){
				div span:before{
				background-image: url("/src/img/icon/whycofidis03.svg");
				}
			}
			&:nth-child(4){
				div span:before{
				background-image: url("/src/img/icon/whycofidis04.svg");
				background-size: 55%;
				}
			}
		}
		div{
			@include bloc;
			margin: 15px 0px;
			padding: 18px 50px;
			border-radius: 7px;
			position: relative;
			
			margin: 0 0 15px auto;
			width: 95%;
			position: relative;
			transition: .3s ease-in;

			p{
				margin: 0;
			}
			&:hover{
				
				&:after{
					right: 20px;
				}

				font-weight: 500;
			}

			a{
				text-decoration: none;
				color: $black;
			}
			span{
				height: 34px;
				width: 34px;
				//background: linear-gradient(135deg,#d22039 30%,#fecb00 80%);
				position: absolute;
				left: -20px;
				top: 50%;
				transform: translateY(-50%);
				content: "";
				border-radius: 4px;
				background-image:  linear-gradient(135deg,#d22039 30%,#fecb00 80%);
				&:before{
					height: 34px;
					width: 34px;
					content: "";
					border-radius: 4px;
					background-size: 75%;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url("/src/img/icon/whycofidis01.svg");
					position: absolute;
					top: 0;
					left: 0;
				}				
			}
			
			&:after{
				height: 15px;
				width: 15px;
				content: "";
				border-radius: 4px;
				background-size: 75%;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("/src/img/icon/arrow_linear.svg");
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 30px;
				transition: .2s ease-in-out;
			}
		}
	}
}

.nav-slider{
	width: 120%;
    height: 3px;
    background-color: #E8E8E8;
    display: block;
    left: 0;
    position: absolute;
    bottom: -30px;
	left: 0;
	&.color-red:before{
		background-color: $red;
	}
	
	&:before{
		height: 3px;
		width: 33%;
		background-color: $blue;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
	}
}
.actu{
	.cover-background{
		background-image: url("/src/img/actu.jpg");
		height: 170px;
		background-size: cover;
		position: relative;
		width: 100%;
		border-radius: 7px 7px 0px 0px !important;

		&:after{
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			//background-image: -webkit-gradient(linear, bottom top, bottom top, color-stop(20%, rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0)));
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.42) 20%, rgba(0, 0, 0, 0) 100%);
			top: 0;
			left: 0;
		}

		p{
			color: #FFF;
			font-size: 1.3em;
			font-weight: 500;
			position: absolute;
			bottom: 0px;
			z-index: 10;
			left: 20px;
		}
	}

	div:nth-child(1){
		@include bloc;
		border-radius: 7px ;
		div{
			padding: 20px 20px 40px 20px;
			font-size: 1.2em;
			font-weight: 200;
		}

		a{
			@include bloc;
			display: block;
			position: absolute;
			width: 80%;
			padding: 15px 20px 15px 30px;
			color: $blue;
			text-decoration: none;
			border-radius: 8px;
			left: 50%;
			bottom: -20px;
			transform: translateX(-50%);
			&:after{
				height: 15px;
				width: 15px;
				content: "";
				border-radius: 4px;
				background-size: 75%;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("/src/img/icon/arrow_blue.svg");
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 10px;
			}
		}
	}
}

.conseil{
	margin-top: 70px;
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		margin: 20px 0;

		
		a{
			color: $black;
			text-decoration: none;
			position: relative;
			@include bloc;
			width: calc(50% - 0.8em);
			padding: 30px 10px 15px 10px;
			margin-top: 3em;
			text-align: center;
			display: block;
			
			transition: .2s ease-in-out;
			&:hover{
				transform: translateY(-5px);
				box-shadow : 0 0 32px rgba(0, 0, 0, 0.139);
				
			}

			span{
				height: 34px;
				width: 34px;
				//background: linear-gradient(135deg,#d22039 30%,#fecb00 80%);
				position: absolute;
				left: 50%;
				top: -17px;
				transform: translateX(-50%);
				content: "";
				border-radius: 4px;
				background-image:  linear-gradient(135deg,#d22039 30%,#fecb00 80%);
				&:before{
					height: 34px;
					width: 34px;
					content: "";
					border-radius: 4px;
					background-size: 75%;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url("/src/img/icon/whycofidis01.svg");
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			&:nth-child(1){
				span:before{
				background-image: url("/src/img/icon/conseil01.svg");
				}
			}
			&:nth-child(2){
				span:before{
				background-image: url("/src/img/icon/conseil02.svg");
				background-size: 55%;
				}
			}
			&:nth-child(3){
				span:before{
				background-image: url("/src/img/icon/conseil03.svg");
				}
			}
			&:nth-child(4){
				span:before{
				background-image: url("/src/img/icon/conseil04.svg");
				background-size: 55%;
				}
			}
		}

	}
}


.legal{
	background-color: #fff;
	padding: 25px 0;
	h4{
		color: $blue;
		font-size: 1.3em;
		font-weight: 500;
		padding-left: 40px;
		&:before{
			height: 34px;
			width: 34px;
			content: "";
			border-radius: 4px;
			background-size: 75%;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("/src/img/icon/legal.svg");
			position: absolute;
			top: -10px;
			left: 0;
		}
	}
	p{
		font-weight: 200;
		font-size: .9em;
		line-height: 1.6;

		span{
			color: $blue;
		}
	}
}

footer{
	div{
		
		p {
			text-align: center;
			font-weight: 200;
			font-size: .9em;
		}
		a{
			display: block;
			width: 130px;
			margin: 0 auto;
			

			img{
				object-fit: cover;
			}
		}
		ul{
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width:100px;
			margin: 40px auto;

			li{
				width: calc(50% - 0.8em);

				a{
					width: auto;
					width: 20px;
				}
			}
		}
	}
}


.chat{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #FFF;
	padding: 10px 10px 7px 10px;
	border-radius: 5px;
	box-shadow: 4px 5px 11px rgba(0, 0, 0, 0.11);

	&:after{
		height: 18px;
		width: 18px;
		position: absolute;
		right: -9px;
		top: -9px;
		content:"";
		border-radius:10px;
		background-image: url("/src/img/icon/closev.svg");
		background-size: cover;
		background-size: 48px 48px;
		background-position: 50% 40%;
	}
}