
$red: #E50030;
$black: #493C3C;
$blue: #00B0D2;
$yellow: #FFC900;

$box-shadow : 0 0 32px rgba(0, 0, 0, 0.08);
@mixin bloc {
	border-radius: 4%;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}